<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width' name='viewport'>
    <title>
      {{ page.title }}
    </title>
    <link href='/assets/css/syntax.css' rel='stylesheet'>
    <link href='/assets/css/main.css' rel='stylesheet'>
    <link href='/assets/css/something.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='site'>
        <div class='header'>
          <h1 class='title'>
            <a href='/'>
              {{ site.name }}
            </a>
          </h1>
          <a class='extra' href='/'>
            home
          </a>
        </div>
        {{ content }}
        <div class='footer'>
          <div class='contact'>
            <p>
              My name is Maximus Decimus Meridius
            </p>
          </div>
          <div class='contact'>
            <p>
              <a href='http://github.com/yourusername/'>
                github.com/yourusername
              </a>
            </p>
            <p>
              <a href='http://twitter.com/yourusername/'>
                twitter.com/yourusername
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
